* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  touch-action: pan-x pan-y;
}

.box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  height: 80vh;
}

.menu-btn {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #a2ff4c;
  cursor: pointer;
  transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-btn__line,
.menu-btn__line::before,
.menu-btn__line::after {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: black;
}

.menu-btn__line::before,
.menu-btn__line::after {
  content: '';
  transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: .175s;
}

.menu-btn__line::before {
  transform: translateY(-5px);
}
.menu-btn__line::after {
  transform: translateY(5px);
}

.menu-btn__active .menu-btn__line {
  /* height: 0; */
}
.menu-btn__active .menu-btn__line::before {
  transform:  rotate(-35deg) ;
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn__active .menu-btn__line::after {
  transform:  rotate(35deg) ;
  width: 10px;
  transform-origin: left top;
}

.menu-btn__active {
  border-radius: 100px;
  width: 120px;
  justify-content: flex-start;
  padding-left: 15px;
  /* transform: translateX(-35px); */
}

.menu-btn__text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  display: block;
  right: 15px;
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.menu-btn__active .menu-btn__text {
  opacity: 1;
}