* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  touch-action: pan-x pan-y;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu-btn {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #a2ff4c;
  transition: .5s border-radius cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-btn__line,
.menu-btn__line::before,
.menu-btn__line::after {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #000000;
}

.menu-btn__line::before,
.menu-btn__line::after {
  content: '';
  transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-btn__line::before {
  transform: translateY(-5px);
}
.menu-btn__line::after {
  transform: translateY(5px);
}

.menu-btn__active .menu-btn__line {
  height: 0;
}
.menu-btn__active .menu-btn__line::before {
  transform: rotate(-45deg);
  /* width: 10px; */
  /* transform-origin: -10px center; */
}
.menu-btn__active .menu-btn__line::after {
  transform: rotate(45deg);
  /* width: 10px; */
  /* transform-origin: left top; */
}

.menu-btn__active {
  border-radius: 10px;
  width: 100px;
}